@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  /* Switch to sans for cleanliness */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1a1a1a;
  background-color: #f4f4f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f0;
}

/* Minimalist Utilities */
.soft-transition {
  transition: all 0.2s ease-in-out;
}