@import "tailwindcss";

:root {
  font-family: 'Courier New', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.brut-border {
  border: 2px solid black;
}

.brut-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}